.section-header {
  background-image: url(/img/header.jpg);
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.nav {
  background-color: rgba(2, 15, 32, 0.4);
  box-shadow: 0px 2px 0px 0px rgba(255, 255, 255, 0.2);
  padding: 0;
  text-transform: uppercase;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
  z-index: 1;
}

.menu {
  display: flex;
}

.menu > li:not(:last-child) {
  margin-right: 25px;
}

.main {
  display: flex;
  flex-grow: 1;
  max-width: 1170px;
  margin: 0 auto;
}

.main-content {
  flex-basis: 40%;
  margin-left: auto;
  padding: 5px;
}

.main-content p {
  text-align: left;
}

.button-main {
  margin: 5px;
}

.visually-hidden {
  visibility: hidden;
}
.toggle-button {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  display: block;
  width: 70px;
  height: 50px;
  cursor: pointer;
  border: none;
  background: transparent;
}
.nav-closed .toggle-button::before {
  content: "";
  position: absolute;
  top: 15px;
  left: 17px;
  width: 36px;
  height: 2px;
  background-color: #4bcaff;
  box-shadow: 0 8px 0 0 #4bcaff, 0 16px 0 0 #4bcaff;
}
.nav-opened .toggle-button {
  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 24px;
    left: 18px;
    width: 36px;
    height: 2px;
    background-color: #4bcaff;
  }
  &::before {
    transform: rotate(45deg);
  }
  &::after {
    transform: rotate(-45deg);
  }
}
