.section-galery-image {
  color: #414042;
  background-color: #ffffff;
}
.section-galery-image ~ img {
  width: auto;
  height: auto;
}
.galery-image {
  max-width: 1170px;
  min-height: 590px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}
.galery-image > div {
  width: 270px;
  height: 300px;
}
.galery-image p {
  font-size: 13px;
  padding: 20px;
}
figcaption {
  margin-top: -43px;
  padding: 10px;
  color: #4bcaff;
  background-color: rgb(65, 64, 66);
  opacity: 0.6;
  text-align: center;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
}
